name: main
on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  npm-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 17
      - run: npm i
      - run: npm test
      - run: npm run build
